:root {
  --background-clr: #fff;
  --accent-text-clr: #4e9590;
  --dark-text-clr: #000;
  --button-clr: linear-gradient(180deg, #e4e4e4 0%, #f7f7f7 100%);
  --button-clr-hover: linear-gradient(180deg, #eaeaea 0%, #fdfdfd 100%);
  --brackets-clr: #f2cab8;
  --gray-clr: #bfbfbf;
  --dark-gray-clr: #4f4f4f;
  --invalid-clr: #bf0e0e;
  --link-clr: #b46f4f;
}

/* Global */
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-height: 100dvh; /* If supported, use dvh */
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.21041667;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

section {
  padding: 1em;
  flex-grow: 1;
}

.file-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

/* Error message */
.error-msg {
  color: var(--invalid-clr);
  display: none;
}

.error-msg.visible {
  display: block;
}

/* Inputs */
button {
  padding: 0.375em 0.75em;
  background: var(--button-clr);
  border-radius: 5px;
  border: 1px solid var(--dark-text-clr);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

button:not([disabled]):hover {
  background: var(--button-clr-hover);
}

button[disabled] {
  cursor: default;
  border: 1px solid var(--gray-clr);
}

/* Loading */
.loading-indicator {
  display: inline-flex;
  align-items: center;
  animation: loading-animation 0.8s linear infinite;
  margin-right: 0.4em;
  color: var(--dark-gray-clr);
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading-icon {
  padding: 0;
  margin: 0;
  width: 1em;
  height: 1em;
}

/* JSON viewer */
.json-viewer {
  display: flex;
  flex-direction: column;
  width: min(100vw - 2em, 40rem);
}

.filename {
  font-size: 2rem;
}

.content-container {
  flex-grow: 1;
  height: 0;
  overflow-y: auto;
}

.json-line {
  line-height: 1;
  display: flex;
  align-items: stretch;
}

.indent {
  display: block;
  margin: 0 0 0 0.1em;
  border-left: 1px solid var(--gray-clr);
  white-space: pre;
  line-height: 1.765;
}

.content {
  line-height: 1.765;
}

.json-key {
  color: var(--accent-text-clr);
}

.json-key.array-idx {
  color: var(--gray-clr);
}

.bracket {
  color: var(--brackets-clr);
  font-weight: 700;
}

/* Pagination */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding: 1em;
}

.pagination-container a {
  color: var(--link-clr);
  text-decoration: none;
  border: 1px solid var(--link-clr);
  padding: 0.2em 0.5em;
  border-radius: 0.1em;
}

.pagination-container a.special {
  border: none;
  color: var(--dark-text-clr);
  padding-inline: 0.2em;
}

.pagination-container span {
  font-weight: 700;
  padding: 0.2em 0.5em;
}

/* This must be last so it has precedence */
.hidden {
  display: none;
}
